*{
    /* linear */
    color: #43A24C;
    color: #2D665F;
    /* body */
    color: #252737;
    /* title */
    color: #4C9E53;
    /* size */
    color: #D3D4D9;
    /* btn options */
    color: #46A54C;
}
