<div class="mt-4">
<div class="shoes-page">
    <div class="row">
        <div class="col span-1-of-2">
            <img src="{{shoes.image}}" alt="">
        </div>
        <div class="col span-1-of-2">
            <h1>{{shoes.name}}</h1>
            <h2>{{shoes.price}}</h2>
            <a href="">Buy</a>
        </div>
    </div>
</div>
</div>